<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onepointglobal.mysurveysn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="false"
        android:configChanges="orientation|screenLayout|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BrowseActivity" />
        <activity
            android:name=".SurveyListActivity"
            android:label="Survey List"
            android:screenOrientation="portrait" />
        <activity android:name=".AuthenticateActivity"
                  android:label="Authenticate"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".GetThemeActivity"
                  android:label="Theme List"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".GetPanelActivity"
                  android:label="Panel List"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".GetSurveyPanelActivity"
                  android:label="Survey Panel List"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".ForgotPasswordActivity"
                  android:label="Forgot Password"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".ChangePasswordActivity"
                  android:label="Change Password"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".GetPanelistProfileActivity"
                  android:label="Panellist Profile"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".UpdatePanelistProfileActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Update Panellist Profile"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".GetScriptActivity"
                  android:label="Download Script"/>
        <activity android:name=".DownloadMediaActivity"
                  android:label="Download Media"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".UploadMediaActivity"
                  android:label="Upload Media"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".GetPanelistPanel"
                  android:label="GetPanellistPanel"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".LogoutActivity"
                  android:label="Logout Activity"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".AuthenticateWithSocialMedia"
                  android:label="AuthenticateWithSocialMedia" />
        <activity android:name=".GetCountries"
                  android:label="Country List"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".GetGeofenceSurvey"
                  android:label="Geofence Survey List"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".NotificationActivity"
                  android:label="NotificationActivity"
            android:configChanges="orientation|keyboardHidden"></activity>
    </application>

</manifest>